/**
 * POuL reveal.js theme.
 *
 * Forked from the default black theme.
 */
@import url(../../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
    color: #222;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #191919;
    background-color: #191919;
}

.reveal {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 38px;
    font-weight: normal;
    color: #fff;
}

::selection {
    color: #fff;
    background: #fc4a2c;
    text-shadow: none;
}

.slides > section {
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slides section > section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reveal .slides > section,
.reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #ffc600;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.6em;
}

.reveal h3 {
    font-size: 1.3em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}

.reveal x-section-title {
    position: absolute;
    top: 0;
    right: 20px;
    color: #ffc600;
    font-weight: bold;
    text-align: right;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
    color: #ffc600;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    min-width: 40em;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.reveal a:hover {
    color: #aa8833;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #068de9;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    max-width: 67%;
    padding: 4%;
}


.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fc4a2c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #ffc600;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #ffc600;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #ffc600;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #ffc600;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #aa8833;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #aa8833;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #aa8833;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #aa8833;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #ffc600;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


.reveal .outro h1 {
    padding: 0;
    margin: 0;
}

.reveal .outro .logo {
    max-height: 20vh;
    padding: 0;
}

.reveal .outro .cc {
    max-height: 5vh;
    padding: 0;
}

/*********************************************
 * CODE
 *********************************************/
.reveal code {
    tab-size: 4;
    -moz-tab-size: 4;
}

.reveal code.input::before, .reveal pre.input > code::before {
    content: "$";
    color: #8699A4;
    padding-right: 5px;
}

.reveal code.input.root::before, .reveal pre.input.root > code::before {
    content: "#";
}

/*********************************************
 * OTHER
 *********************************************/
.printable-version {
    position: absolute;
    bottom: 3vh;
    left: 3vh;
    height: 30px;
    width: 30px;
    display: block;
    z-index: 100;
    opacity: 0.2;
    transition: opacity 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23A2A2A2'%3E%3Cpath d='M11.96 50h28.09V32H11.96v18zm6.854-13.003h14.189v2H18.814v-2zm0 6h14.189v2H18.814v-2zM16 20h20v-.003h1.003v-2H36V2H16v15.997h-.997v2H16z'/%3E%3Cpath d='M43.03 10H38v5.997h1.003v6H38V22H14v-.003h-.997v-6H14V10H8.97C5.13 10 2 13.12 2 16.97V40h7.96V30h32.09v10H50V16.97A6.97 6.97 0 0043.03 10z'/%3E%3C/g%3E%3C/svg%3E");
}

.printable-version:hover {
    opacity: 1;
}
